  <footer class="footer-blog">
  <h3 class="footer-content">Designed by Tejash</a></h3>
  <div class="social-icons">
    <a href="https://www.tejash.live/"><i class="fa-solid fa-earth-americas"></i></a>
    <a href="https://github.com/tejash023"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/tejashwa-rajvardhan-a98a99141/"><i class="fa-brands 
  </div>
  fa-linkedin"></i></a>
</footer>