<header>
  <h2 class="logo-heading"> <a href="/" class="href">Blogs</a></h2>
  <div class="login">
    <% if(locals.user){ %>
      <p>Hi, <%= user.name %></p>
      <a href="/sign-out">Sign Out</a>
    <% }else{ %>
      <a href="/login">Login</a>
      <a href="/sign-up">Sign Up</a>

    <% } %>
  </div>
</header>