<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Blog</title>
  <!--Font awesome cdn-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/e8e6c63b94.js" crossorigin="anonymous"></script>
  <!--CSS-->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <div class="heading-content">
      <h1>Add you blog here!</h1>
      
    </div>
  
    
      <form action="/add-blog" method = "post" class="add-blog-section">
        <input name="blogTitle" type="text" class="add-blog-title" placeholder="Add Blog Title">
        <textarea name="blogContent" class="add-blog-content" cols="30" rows="10" placeholder="Enter blog content"></textarea>
        <input name="blogAuthor" type="text" class="add-blog-author" placeholder="Your name" >
        <button type="submit" class="add-blog-submit">Submit Blog</button> 
      </form>
    
  
  </div>
  
  
 <script src="/js/app.js"></script>
</body>
</html>