<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <!--Font awesome cdn-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/e8e6c63b94.js" crossorigin="anonymous"></script>
  <!--CSS-->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <div class="heading-content">
      <h1>Welcome to Tejash's Blog</h1>
      <a href="http://127.0.1.1:8080/add-blog"><button class="add-blog">Add Blog</button></a>
    </div>
    <% for(let i of BlogPost) { %>
    
    <div class="blog-post">
      
      <div class="heading-info">
        <h2 class="blog-heading"> <%= i.blogTitle %> </h2>
        <a href="" class="blog-delete"><i class="fa-solid fa-trash-can"></i></a>
      </div>
      
      <div class="blog-action">
        <a href="" class="blog-like"><i class="fa-regular fa-heart"></i></a>
        <h4 class="blog-date"> <%= i.blogDate %> </h4>
      </div>
      <p class="blog-content"> <%= i.blogContent %> </p>
      <h4 class="blog-author"> By - <%= i.blogAuthor %> </h4>
    
    </div>
    <% } %>
  
  </div>
 
  <footer class="footer-blog">
    <h3 class="footer-content">Desinged by Tejash</a></h3>
    <div class="social-icons">
      <a href="https://www.tejash.live/"><i class="fa-solid fa-earth-americas"></i></a>
      <a href="https://github.com/tejash023"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/tejashwa-rajvardhan-a98a99141/"><i class="fa-brands 
    </div>
    fa-linkedin"></i></a>
  </footer>
 <script src="/js/app.js"></script>
</body>
</html>