<link rel="stylesheet" href="/css/registration.css">

<div class="user-signin">
  
  <form action="/create-session" method="POST" class="signin-form">
    <h2>Sign in Form</h2>
    <input type="email" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    
    <button type="submit">Sign in</button>
    <a href="/sign-up">Not Registered? <span>Sign up here</span></a>
    <a href="/">Homepage</a>
  </form>
</div>