<link rel="stylesheet" href="/css/registration.css">
<div class="user-signup">
  
  <form action="/create" method="POST" class="signup-form">
    <h2>Sign up</h2>
    <input type="text" name="name" placeholder="Enter name" required>
    <input type="email" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <button type="submit">Sign up</button>
    <a href="/login">Already Registered? <span>Sign in</span></a>
    <a href="/auth/google">Google</a>
    <a href="/">Homepage</a>

  </form>
</div>