@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  margin: auto 10%;
  
}

header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: orangered;
  height: 13vh;
  padding: 0 10%;
}





header h3 {
  color: white;
  
  font-size: 1rem;
  margin-right: 5px;
}

.logo-heading a{
  color: white;
  text-decoration: none;
}

.login{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  gap: 1rem
}

.login p{
  font-size: 13px;
    font-weight: 600;
    color: white;
}

.login a {
  color: orangered;
  text-decoration: none;
  background-color: white;
  padding: 7px 10px;
  border-radius: 5px;
}


.footer-blog{
  height: auto;
  color: white;
  background-color:rgba(255, 68, 0, 0.788);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 2px;
  
}
.footer-blog h3{
  margin-right: 10px;
  font-size: 1.2rem;
}

.social-icons{
  font-size: 1rem;
  
}

.social-icons a{
  color: white;
  margin-right: 10px;
  font-size: 1.2rem;
}
.social-icons a:hover{
  color: orangered;
  
}

@media only screen and (max-width: 950px) {
  .login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
    font-size: 1rem;
  }

  .login a{
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;
    width: 70%;
  }

  .login a:hover{
    border-bottom: 2px solid white;
  }

  header a{
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 5px 2px;
    border-radius: 0px;
  }
}