
.user-signup{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-image: linear-gradient(-1095deg, #daba45 0%, #ff5722 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 30%;
  height: auto;
  border-radius: 5px;
}

.signup-form h2{
  color: white;
  margin-bottom: 15px;
  margin-left: 7px;
}

.signup-form input{
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  width: 90%;
  outline: none;
  border: none;
  font-size: 0.8rem;
}

.signup-form button{
  padding: 8px 15px;
  margin: 10px;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.signup-form a{
  text-decoration: none;
  color: white;
  margin: 10px 0;
}

.signup-form span{
  font-size: bolder;
  color: orangered;
  
}



.user-signin{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: linear-gradient(-1095deg, #daba45 0%, #ff5722 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 30%;
  height: auto;
  border-radius: 5px;
}

.signin-form h2{
  color: white;
  margin-bottom: 15px;
  margin-right: 7px;
}

.signin-form input{
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  width: 80%;
  outline: none;
  border: none;
  font-size: 0.8rem;
}

.signin-form button{
  padding: 8px 15px;
  margin: 10px;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.signin-form a{
  text-decoration: none;
  color: white;
  margin: 10px 0;
}

.signin-form span{
  font-size: bolder;
  color: orangered;
  
}


@media only screen and (max-width: 990px) {

  .user-signup{
    height: 85vh;
    
  }
  .user-signin{
    height: 85vh;
    
  }

  .signup-form{
    width: 40%;
    padding: 20px;
  }
  .signin-form{
    width: 40%;
  }

}

@media only screen and (max-width: 750px) {

  .signup-form{
    width: 50%;
    padding: 20px;
  }

  .signin-form{
    width: 50%;
  }

}

@media only screen and (max-width: 500px) {

  

  .signup-form{
    width: 80%;
    padding: 20px;
  }

  .signin-form{
    width: 80%;
  }

}