

.heading-content{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

h1{
  text-align: center;
  margin: 1.5rem 0;
}

.add-blog{
  margin: 10px 0;
  padding: 7px 10px;
  background-color: rgba(255, 68, 0, 0.788);
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.add-blog i {
  margin-right: 5px;
}

.add-blog:hover{
  background-color: rgba(200, 55, 3, 0.788);
}

.blog-post{
  height: auto;
  background-color: beige;
  padding: 15px 20px;
  border-radius: 10px;
  width: auto;
  margin: 16px 0;
  box-shadow: rgba(74, 74, 74, 0.35) 0px 5px 15px;
}

.heading-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-heading{
  margin-bottom: 8px;
  font-size: 1.5rem;
  color: orangered;
}
.blog-date{
  color: rgb(114, 114, 114);
  padding: 4px 8px;
  width: auto;
  border-radius: 7px;
  display: inline-block;
  margin: 6px 0;
}

.blog-action{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.blog-like, .blog-delete{
  color: #e91e63;
  font-size: 1.5rem;
}

.blog-content{
  margin-top: 10px;
  line-height: 25px;
  color: rgb(62, 29, 5);
  font-size: 1rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.read-more{
  margin-top: 10px;
  color: orangered;
  text-decoration: none;

}

.read-more:hover{
  
  border-bottom: 1.5px solid orangered;
  transition: all 0.1s ease-in-out;
  
}

.blog-author{
  color: orangered;
  margin: 1rem 0;
}


/* Add Blog Section */
.add-blog-section{
  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  gap: 1rem;
}

.add-blog-section input, .add-blog-content{
  padding: 10px 5px;
  border: 2px solid rgba(255, 68, 0, 0.653);
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
}

.editor-section{
  height: 40vh;
}

.add-blog-submit{
  margin: 10px 0;
  padding: 9px 10px;
  background-color: rgba(255, 68, 0, 0.788);
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 150px;
}
.add-blog-submit:hover{
  
  background-color: orangered;
  
}

.footer-blog{
  height: auto;
  color: white;
  background-color:rgba(255, 68, 0, 0.788);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 2px;
  
}
.footer-blog h3{
  margin-right: 10px;
  font-size: 1.2rem;
}

.social-icons{
  font-size: 1rem;
  
}

.social-icons a{
  color: white;
  margin-right: 10px;
  font-size: 1.2rem;
}
.social-icons a:hover{
  color: orangered;
  
}

@media only screen and (max-width: 600px){
  .heading-content{
    
    justify-content: center;
  }

  .blog-heading{
    font-size: 1rem;
    margin-right: 11px;
  }

  
}